[submodule "felipefariax.github.io"]
	path = felipefariax.github.io
	url = https://github.com/felipefariax/felipefariax.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/felipefariax/felipefariax.github.io.git
	branch = master
